header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  background-color: rgba(15, 12, 27, 0.5);
  backdrop-filter: blur(4rem);
  z-index: 10;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    nav {
      max-width: 83.2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 1;
      ul {
        display: flex;
        align-items: center;
        li {
          &:not(:first-child) {
            margin-left: 6.4rem;
          }
        }
      }
      .hamburger {
        margin-left: 2rem;
        display: none;
        .hamburger-inner,
        .hamburger-inner::before,
        .hamburger-inner::after {
          width: 3.2rem;
          height: 0.2rem;
          border-radius: 0.2rem;
          background-color: var(--white);
        }
      }
    }
  }
  @media (max-width: 1100px) {
    .container {
      nav {
        max-width: 75%;
      }
    }
  }
  @media (max-width: 991px) {
    .container {
      nav {
        max-width: 100%;
        justify-content: flex-end;
        ul {
          display: none;
        }
        .hamburger {
          display: block;
        }
      }
    }
  }
  @media (max-width: 568px) {
    .container {
      .logo {
        max-width: 13rem;
      }
      nav {
        .search {
          display: none;
        }
        .hamburger {
          margin-left: 0;
          padding: 0;
        }
      }
    }
  }
}
