.footer {
    padding-top: 10px;
    text-align: center;
    font-size: 15px;
    padding-bottom: 10px;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}  
footer li {
    display: inline-block;
    margin-right: 8px;
}